body {
  background-color: #000000;
}

.App {
  text-align: center;
  max-width: auto;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: auto;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(122, 8, 94) , rgb(255, 255, 255));
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: auto;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(122, 8, 94)
}
.tooltip {
  position: absolute;
  color: #070707;
  background-color: white;
  opacity: 0;
  height: 12px;
  visibility: hidden;
  align-items: center;
  display: flex;
  font-size: 9px;
  border-radius: 15px;
  padding: 5px 15px;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* adjust as needed */
  white-space: nowrap; 
  pointer-events: none;

}

.sent .tooltip {
  margin-left: -85px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

.received .tooltip {
  margin-right: -85px;
  color: #070707;
  background-color: white;
}

.message-text:hover .tooltip {
  visibility: visible;
  opacity: 1;

}





input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: rgb(122, 8, 94);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  padding: 0.6em 2em;
  top: 15px;
  width: fit-content;
  margin: 0 auto;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sign-in:before {
  content: "";
  max-width: 400px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sign-in:after {
  z-index: -1;
  max-width: 400px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}






ul, li {
  text-align: left;
  
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  
  display: flex;
  align-items: center;
  position: relative;
}
.message-text {
  position: relative;
}
.sent {
  flex-direction: row-reverse;
}


.sent p {
  color: white;
  background: #000000;
  align-self: flex-end;
}
.received p {
  background: #ffffff;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
.center{
  position: absolute;
  top: 85%; 
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #000000;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient( rgb(122, 8, 94),  rgb(122, 8, 94));
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  
   transition: background-size .7s, background-position .5s ease-in-out;
}

.title:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  
}

.error {
  color: rgb(189, 7, 143); 
  font-size: 20px;
  background-color: #020202; 
  padding: 10px; 
  border-radius: 10px; 
  text-align: center;
  margin-bottom: 50px;  
  width: 200px;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  top: 35%; 
  left: 50%;
  transform: translateX(-50%);
}

.room-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  
  width: 100%;
  max-width: 350px; /* match the width of your inputs */
  align-items: center; /* align the form items */
}

.room-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%; /* make inputs take the full width of the form */
  background-color: #000000;
}
